/* Topbar.css */


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebdec4;
  color: rgb(231, 217, 159);
  padding: 10px 20px;
  margin: 0 auto; /* Center the container horizontally */
  max-width: auto; /* Set a maximum width for the container */
  max-height: 50px;
 
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 30%;
  height: auto;
  margin-right: 10px;
  margin-top: auto;
  margin-left: 10%;
}

.right-section {
  display: flex;
  align-items: center;
}



.sign-up-button button {
  background-color: rgb(237, 135, 33);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.sign-up-button button:hover {
  background-color: rgb(217, 183, 131);
}

.information{
  margin-left: 0; /* Center the container horizontally */
  max-width: auto; /* Set a maximum width for the container */
  padding: 20px; /* Add space on the sides */
  background-color: rgb(240, 240, 238);
}

.dropdown{
 background-color:  #191715;
  color: rgb(26, 16, 16);
   padding: 4px 2px; /* Adjust height and width by changing padding values */
  margin-right: 10px;
  align-items: center;
  border-radius: 1em;

}
.option{

  text-align: center;
}